.form-container{
    max-width: 500px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.alert{
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 70px;
    right: 0;
}